@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%; }

body {
  color-scheme: light;
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

@font-face {
    font-family: 'Digital-7';
    src: url('/fonts/digital-7.ttf') format('truetype');
}

@font-face {
    font-family: 'Lithob';
    src: url('/fonts/LITHOB.TTF') format('truetype');
}

html, body {
  user-select: none;
}
